*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 700vh;
}

.navbar{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
  
}
.nav{
    width: 100%;
    display: flex;

}
.fa-bars{
    font-size: 24px;
    display: none;
}
.img{
    width: 225px;
    height: 36px;
    background-image: url("./Overstock_logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.input{
    width: 1015px;
    height: 34px;
    margin-left: 15px;
    border-radius: 3px;
    display: flex;
    border: 1px solid #0007;
}
.input input{
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    text-indent: 12px;
    background: transparent;
}
.input button{
    width: 5%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    background: #ff1f2c;
    color: #fff;
}
.icons{
    display: flex;
    margin-left: 60px;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    text-align: center;


}
.icons i{
    font-size: 24px;
}
.nav_top{
    width: 100%;
    padding-top: 20px;
   
}
.collection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.item{
    list-style: none;
    font-size: 18px;
}
.banner{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.banner img{
    width: 95%;
    height: 100%;
    object-fit: cover;
}
.limite h1{
    margin-left: 40%;
    margin-top: 2%;
}
.limit_img{
    margin-left: 4%;
}
.frew h1{
    margin-left: 40%;
    margin-top: 2%;
    
}

.frew{
    margin-top: 3%;
}

.box1{
    display: flex;
    margin: 0;
    margin-left: 5%;
}
.box2{
    display: flex;
    margin: 0;
}
.summer h1{
    margin-left: 40%;
    margin-top: 2%;
}
.carousel{
    width: 90%;
    height: 70vh;
    margin: auto;
    display: flex;
  overflow-x: auto;
  margin-top: 2%;
  
  }
.carousel_item{
    min-width: 500px;
    width: 300px;
    height: 350px;
    margin: 10px;
}
.carousel::-webkit-scrollbar{
    height: 6px;
}
.carousel::-webkit-scrollbar-thumb{
    background-color: #999;
    border-radius: 6px;
}
.shop img{
    margin-top: 5%;
}
.over h1{
    margin-left: 40%;
    margin-top: 5%;
}
.ov{
    display: flex;
    margin-left: 1.5%;
    margin-top: 2%;
}
.stayle{
    display: flex;
    margin-top: 5%;
}